<div id="home-page-background">
    <h1>Mongo Scraper</h1>
    <h2>New York Times Edition</h2>
</div>

<div class="container" id="articles-container">

    <div class="card">
        <div class="card-header bg-primary text-white">
            <div class="row">
                <div class="col-9">
                    <h5>Article Header</h5>
                </div>
                <div class="col-3">
                    <button class="btn btn-success">Save Article</button>
                    <button class="btn btn-secondary">View Article</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>

</div>