<div id="home-page-background">
    <h1>Mongo Scraper</h1>
    <h2>New York Times Edition</h2>
</div>

<div class="container" id="articles-container">
    {{#each article}}
    {{#unless saved}}

    <div class="card">
        <div class="card-header bg-primary text-white">
            <div class="row">
                <div class="col-8">
                    <h5>{{title}}</h5>
                </div>
                <div class="col-4">
                    <button class="btn btn-success save-article" data-article-id="{{_id}}">SAVE ARTICLE</button>
                    <a href="{{link}}" target="_blank"><button class="btn btn-secondary">VIEW ARTICLE</button></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <p class="card-text">{{summary}}</p>
                </div>
            </div>
        </div>
    </div>

    {{/unless}}
    {{/each}}
</div>