body {
    padding-top: 80px;
}

.navbar h1 {
    color: #FFFFFF;
    padding: 5px;
    margin-left: 20px;
}

h2 {
    color: #666666;
    margin-top: 25px;
}

h5 {
    font-size: 140%;
}

a.nav-link {
    color: #FFFFFF;
    font-size: 120%;
    margin: 5px;
}

#home-page-background {
    background-image: url("/assets/images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    text-align: center;
    color: #666666;
    font-size: 130%;
    padding-top: 40px;
}

#saved-articles-background {
    background-image: url("/assets/images/saved-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    text-align: center;
    color: #666666;
    font-size: 130%;
    padding-top: 40px;
}

button#scrape-articles {
    padding: 20px;
}

.card {
    width: 100%;
    margin: 20px auto;
}

.card p {
    font-size: 110%;
}