/* Global elements styling */
body {
    padding-top: 80px;
}

h2 {
    margin-top: 25px;
}

h5 {
    font-size: 140%;
}
 /* Navbar elements styling */
.navbar h1 {
    color: #FFFFFF;
    padding: 5px;
    margin-left: 20px;
}

a.nav-link {
    color: #FFFFFF;
    font-size: 120%;
    margin: 5px;
}

a.active {
    font-weight: 650;
    color: #000000;
    background-color: #FFFFFF;
}

button#scrape-articles {
    padding: 20px;
}

/* Styling for the main headers for index and saved-articles pages */
#home-page-background {
    background-image: url("/assets/images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    text-align: center;
    color: #000000;
    font-size: 130%;
    padding-top: 40px;
}

#saved-articles-background {
    background-image: url("/assets/images/saved-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    text-align: center;
    color: #666666;
    font-size: 130%;
    padding-top: 40px;
}

/* Bootstrap card styling */
.card {
    width: 100%;
    margin: 20px auto;
}

.card p {
    font-size: 110%;
}